* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #2D2D2D;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.profile-card{
    width: 330px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.profile-photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    margin-top: -100px;
}
.identity{
    padding: 10px 30px;
}
.name-profile{
    margin-bottom: 5px ;
}
.info-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Jarak antara ikon dan teks */
    margin-bottom: 5px;
    color: #666;
}
.icon {
    width: 16px; /* ukrn ikon */
}
.background-image img{
    width: 100%;
    border-radius: 20px;
}
.profile-account{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding: 20px 0;
    border-top: 1px solid #eee;
}
.info-row{
    display: flex;
}
.info-row2{
    display: flex;
}
.likes p{
    font-weight: 300;
}
.followers p{
    font-weight: 300;
}
.post p{
    font-weight: 300;
}
.profile-card:hover {
    /* Mengangkat kartu sedikit ke atas (Y-axis) */
    transform: translateY(-10px); 
    
    /* Menambahkan bayangan lembut di bawah agar terlihat melayang */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}